doctype html
html(lang="en")
head
  title Smart HRM System V1.0.1

  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/libs/angular-material/angular-material.min.css")
  link(rel="stylesheet", href="/stylesheets/iconfont/material-icons.css")
  link(rel="stylesheet", href="/libs/angular-material-data-table/dist/md-data-table.min.css")
  link(rel="stylesheet", href="/stylesheets/fonts.css")
  link(rel="stylesheet", href="/stylesheets/style.css")

  script(src="/libs/angular/angular.js")
  script(src="/libs/angular-animate/angular-animate.min.js")
  script(src="/libs/angular-aria/angular-aria.min.js")
  script(src="/libs/angular-messages/angular-messages.min.js")
  script(src="/libs/angular-material/angular-material.min.js")
  script(src="/libs/angular-ui-router/release/angular-ui-router.min.js")
  script(src="/libs/angular-material-data-table/dist/md-data-table.min.js")
  script(src="/libs/moment/min/moment-with-locales.min.js")
  script(src="/libs/lodash/dist/lodash.min.js")

  script(src="/javascripts/configure.js")
  script(src="/javascripts/admin/app.js")
  script(src="/javascripts/admin/toolbar.js")
  script(src="/javascripts/admin/sidenav.js")

  script(src="/javascripts/admin/money/index.js")
  script(src="/javascripts/admin/money/controller.js")
  script(src="/javascripts/admin/money/service.js")

  script(src="/javascripts/admin/positions/index.js")
  script(src="/javascripts/admin/positions/controller.js")
  script(src="/javascripts/admin/positions/service.js")

  script(src="/javascripts/admin/car-license/index.js")
  script(src="/javascripts/admin/car-license/controller.js")
  script(src="/javascripts/admin/car-license/service.js")

  script(src="/javascripts/admin/departments/index.js")
  script(src="/javascripts/admin/departments/controller.js")
  script(src="/javascripts/admin/departments/service.js")

  script(src="/javascripts/admin/sub-department/index.js")
  script(src="/javascripts/admin/sub-department/controller.js")
  script(src="/javascripts/admin/sub-department/service.js")
  script(src="/javascripts/admin/sub-department/dialog-new.js")
  script(src="/javascripts/admin/sub-department/dialog-update.js")

  script(src="/javascripts/admin/employees/index.js")
  script(src="/javascripts/admin/employees/controller.js")
  script(src="/javascripts/admin/employees/service.js")
  script(src="/javascripts/admin/employees/dialog-new.js")
  script(src="/javascripts/admin/employees/dialog-update.js")

  script(src="/javascripts/admin/meetings/index.js")
  script(src="/javascripts/admin/meetings/controller.js")
  script(src="/javascripts/admin/meetings/service.js")
  script(src="/javascripts/admin/meetings/dialog-assign.js")
  script(src="/javascripts/admin/meetings/dialog-new.js")
  script(src="/javascripts/admin/meetings/dialog-registered.js")
  script(src="/javascripts/admin/meetings/dialog-update.js")

  script(src="/javascripts/admin/staff/index.js")
  script(src="/javascripts/admin/staff/controller.js")
  script(src="/javascripts/admin/staff/service.js")
  script(src="/javascripts/admin/staff/dialog-new.js")
  script(src="/javascripts/admin/staff/dialog-update.js")

  script(src="/javascripts/admin/reports/index.js")
  script(src="/javascripts/admin/reports/departments/controller.js")
  script(src="/javascripts/admin/reports/departments/service.js")
  script(src="/javascripts/admin/reports/meetings/controller.js")
  script(src="/javascripts/admin/reports/meetings/service.js")

  script(src="/javascripts/admin/drivers/index.js")
  script(src="/javascripts/admin/drivers/controller.js")
  script(src="/javascripts/admin/drivers/service.js")
  script(src="/javascripts/admin/drivers/dialog-new.js")
  script(src="/javascripts/admin/drivers/dialog-update.js")

  script(src="/javascripts/admin/car-request/index.js")
  script(src="/javascripts/admin/car-request/controller.js")
  script(src="/javascripts/admin/car-request/service.js")
  script(src="/javascripts/admin/car-request/dialog-approve.js")

  script(src="/javascripts/admin/ask-permission/index.js")
  script(src="/javascripts/admin/ask-permission/controller.js")
  script(src="/javascripts/admin/ask-permission/dialog-employees.js")
  script(src="/javascripts/admin/ask-permission/service.js")

  script(src="/javascripts/admin/work/index.js")
  script(src="/javascripts/admin/work/controller.js")
  script(src="/javascripts/admin/work/service.js")

  block scripts

body(ng-app="app")

  div(layout="column",  style="height: 100%")

    section(layout="row", flex, style="height: 100%")
      div(ng-controller="SideNavCtrl")
        md-sidenav.md-sidenav-left(md-component-id="left",
         md-is-locked-open="$mdMedia('gt-sm')", md-disable-backdrop="")

          md-toolbar.md-whiteframe-z2
            div.md-toolbar-tools
              md-button.md-icon-button(aria-label="Settings", ng-click="toggleLeft()")
                md-ico.material-icons group
              h2
                span Smart HRM
          md-content
            md-subheader Main menu
            md-menu-content
              md-menu-item
                md-button(ng-click="go('meetings')")
                  md-icon(md-menu-align-target)
                    i.material-icons note_add
                  | บันทึกหัวข้อประชุม/อบรม
              md-menu-item
                md-button(ng-click="go('ask-permission')")
                  md-icon(md-menu-align-target)
                    i.material-icons local_library
                  | ขออนุญาตไปราชการ
              md-menu-item
                md-button(ng-click="go('car-request')")
                  md-icon(md-menu-align-target)
                    i.material-icons local_taxi
                  | ขออนุญาตใช้รถยนต์
              md-menu-item
                md-button(href="http://172.16.0.5:8009", target="_blank")
                  md-icon(md-menu-align-target)
                    i.material-icons date_range
                  | การลงเวลาปฏิบัติงาน
              //- md-divider
              md-menu-item
                md-button(ui-sref="employee")
                  md-icon(md-menu-align-target)
                    i.material-icons group
                  | ข้อมูลเจ้าหน้าที่
              md-menu-item
                md-button(ng-click="go('staff')")
                  md-icon(md-menu-align-target)
                    i.material-icons folder_shared
                  | ข้อมูลหัวหน้าหน่วยงาน
              md-menu-item
                md-button(ng-click="go('drivers')")
                  md-icon(md-menu-align-target)
                    i.material-icons local_taxi
                  | พนักงานขับรถ
              md-divider
              md-menu-item
                md-button(ng-click="go('reports')")
                  md-icon(md-menu-align-target)
                    i.material-icons print
                  | ระบบรายงาน

            md-divider
            md-subheader Settings
            md-menu-content
              md-menu-item
                md-button(ui-sref="money")
                  md-icon(md-menu-align-target)
                    i.material-icons monetization_on
                  | งบประมาณที่ใช้
              md-menu-item
                md-button(ui-sref="department")
                  md-icon(md-menu-align-target)
                    i.material-icons folder_shared
                  | หน่วยงานหลัก
              md-menu-item
                md-button(ui-sref="sub-department")
                  md-icon(md-menu-align-target)
                    i.material-icons device_hub
                  | หน่วยงานย่อย
              md-menu-item
                md-button(ui-sref="position")
                  md-icon(md-menu-align-target)
                    i.material-icons event_seat
                  | ตำแหน่ง
              md-menu-item
                md-button(ui-sref="car-license")
                  md-icon(md-menu-align-target)
                    i.material-icons looks_3
                  | ทะเบียนรถ
      md-content(layout="column", layout-fill, layout-align="top center", style="background-color: #e9ebee;")
        div(layout="column", layout-fill, ng-controller="ToolbarCtrl")
          md-toolbar.md-whiteframe-z2(ng-show="!showSearch")
            div.md-toolbar-tools
              md-button.md-icon-button(aria-label="Toggle", ng-click="toggleLeft()", hide-gt-sm)
                md-icon.material-icons menu

              h2 HR Management System (Administrator)
              span(flex)

              md-menu
                md-button.md-icon-button(aria-label="More", ng-click="openMenu($mdOpenMenu, $event)")
                  md-icon.material-icons more_vert

                md-menu-content(width="4")
                  md-menu-item
                    md-button
                      md-icon(md-menu-align-target).material-icons account_circle
                      | Profile

                  md-menu-divider
                  md-menu-item
                    md-button(href="/logout")
                      md-icon(md-menu-align-target).material-icons power_settings_new
                      | Logout


          md-toolbar(ng-show="showSearch").md-hue-2
            div.md-toolbar-tools
              md-button(ng-click="showSearch = !showSearch" aria-label="Back")
                md-icon.material-icons keyboard_backspace
              h3(flex="10") Back

              md-input-container(md-theme="input", flex="", class="md-input-theme", style="padding-top: 32px;")
                label &nbsp;
                input(ng-model="search.who", placeholder="enter search", style="color: #fff;")

              md-button(aria-label="Search", ng-click="showSearch = !showSearch")
                md-icon.material-icons search
          div
            block content
