md-dialog(aria-label="New ask", ng-cloak, flex="90")
  form(name="frmNew")
    md-toolbar
      div.md-toolbar-tools
        i.material-icons local_taxi
        h2.md-headline
          | บันทึก/แก้ไข การขออนุญาตไปราชการ
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon(aria-label="Close dialog").material-icons clear

    md-dialog-content
      div.md-dialog-content
        md-tabs(md-dynamic-height, md-border-bottom)
          md-tab(label="ข้อมูลการขออนุญาต")
            md-content
              div(layout="row")
                div(flex)
                  md-input-container.md-block.md-icon-float
                    label ขออนุญาตไปรายการ (ที่จะไป)
                    md-icon.material-icons description
                    input(ng-model="ask.targetName")
                div(flex)
                  md-input-container.md-block.md-icon-float
                    label เพื่อ
                    md-icon.material-icons description
                    input(ng-model="ask.cause")
              div(layout="row")
                div(flex="10")
                  br
                  label ในวันที่
                div(flex="20")
                  br
                  md-datepicker(ng-model="ask.startDate", md-placeholder="Enter date")
                div(flex="15")
                  md-input-container.md-block.md-icon-float
                    label เวลา (13.30)
                    md-icon.material-icons description
                    input(type="text", ng-model="ask.startTime", ng-required="true")
                div(flex="10")
                  br
                  label ถึงวันที่
                div(flex="20")
                  br
                  md-datepicker(ng-model="ask.endDate", md-placeholder="Enter date")
                div(flex="15")
                  md-input-container.md-block.md-icon-float
                    label เวลา (13.30)
                    md-icon.material-icons description
                    input(type="text", ng-model="ask.endTime", ng-require="true")
              div(layout="row")
                div(flex="30")
                  md-input-container.md-block.md-icon-float
                    label ระยะทางไป-กลับ (กม.)
                    md-icon.material-icons home
                    input(type="number", ng-model="ask.distance", ng-required="false")
          md-tab(label="รายชื่อผู้ร่วมเดินทาง")
            md-content(style="height: 240px")
              div(layout="row")
                md-card(flex, layout-padding)
                  //- md-card-title-text
                  //-   span.md-subhead รายชื่อเจ้าหน้าที่
                  md-card-content
                    md-table-container
                      table(md-table)
                        thead(md-head)
                          tr(md-row, colspan="3")
                            th(md-column)
                              div(layout="row")
                                div(flex)
                                  md-input-container.md-block
                                    input(type="text", placeholder="พิมพ์ชื่อเพื่อค้นหาเจ้าหน้าที่", ng-model="txtQuery")
                                div(flex="20")
                                  md-input-container
                                    md-button 
                                      md-icon.material-icons search
                        tbody(md-body)
                          tr(md-row, ng-if="!employees.length")
                            td(md-cell, colspan="3") ไม่พบรายการ
                          tr(md-row, ng-repeat="e in employees | filter: txtQuery")
                            td(md-cell) {{ e.fullname }}
                            td(md-cell, width="10%")
                              md-button.md-icon-button.md-primary(ng-click="selectEmployee(e)")
                                md-icon.material-icons person_add

                md-card(flex, layout-padding)
                  md-card-title-text
                    span.md-subhead รายชื่อเจ้าหน้าที่ ({{selectedEmployees.length | number}})
                  md-card-content
                    md-table-container
                      table(md-table)
                        //- thead(md-head)
                        //-   tr(md-row)
                        //-     th(md-column) ชื่อ-สกุล
                        //-     th(md-column, width="10%")
                        tbody(md-body)
                          tr(md-row, ng-if="!selectedEmployees.length")
                            td(md-cell, colspan="3") ไม่พบรายการ
                          tr(md-row, ng-repeat="e in selectedEmployees", ng-if="selectedEmployees.length")
                            td(md-cell) {{ e.fullname }}
                            td(md-cell, width="10%")
                              md-button.md-icon-button.md-warn(ng-click="removeSelectedEmployee($index)")
                                md-icon.material-icons clear
    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="save()", ng-disabled="frmNew.$invalid").md-raised.md-primary
        | ตกลง
      md-button(ng-click="cancel()")
        | ยกเลิก