md-dialog(aria-label="New Employee", ng-cloak, flex="80")
  form(name="frmNew")
    md-toolbar
      div.md-toolbar-tools
        h2.md-headline
          | รายละเอียดการประชุม/อบรม
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon(aria-label="Close dialog").material-icons clear

    md-dialog-content
      div.md-dialog-content

        div(layout="row")
          div(flex="20")
            h4 วันที่จัดกิจกรรม ตั้งแต่
          div(flex="20").md-block(flex-gt-sm)
            br
            md-datepicker(ng-model="meetings.start", md-placeholder="ตั้งแต่วันที่", ng-required="true")
          div(flex="10", style="text-align: center;")
            h4 ถึง
          div(flex="20").md-block(flex-gt-sm)
            br
            md-datepicker(ng-model="meetings.end", md-placeholder="ถึงวันที่", ng-required="true")

        div(layout="row")
          div(flex)
            md-input-container.md-block.md-icon-float
              label หัวข้อประชุม/อบรม
              md-icon.material-icons description
              input(ng-model="meetings.title", ng-required="true")

        div(layout="row")
          div(flex)
            md-input-container.md-block.md-icon-float
              label สถานที่ประชุม/อบรม
              md-icon.material-icons home
              input(ng-model="meetings.place", ng-required="true")
          div(flex)
            md-input-container.md-block.md-icon-float
              label หน่วยงานที่จัด
              md-icon.material-icons contact_mail
              input(ng-model="meetings.owner", ng-required="true")

        div(layout="row")
          div(flex)
            md-input-container.md-block.md-icon-float(flex-gt-sm)
                label ประเภทเงินที่ใช้
                md-icon.material-icons attach_money
                md-select(ng-model="meetings.money_id", ng-required="true")
                  md-option(ng-repeat="m in money", value="{{m.id}}")
                    | {{m.name}}
          div(flex)
            md-input-container.md-block.md-icon-float(flex-gt-sm)
              label จำนวนเงิน
              md-icon.material-icons dialpad
              input(type="number", ng-model="meetings.price")
          div(flex)
            md-input-container.md-block(flex-gt-sm)
              label คะแนน
              md-icon.material-icons forward_30
              input(type="number", ng-model="meetings.score")

    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="cancel()").md-raised.md-primary
        | ตกลง