$gray: #eee;

html, body {
  height: 100%;
  font-family: 'thaisanslite';
  font-size: 1.1rem;
}

button, input, select, textarea, .md-datepicker-input {
  font-family: 'thaisanslite';
  font-size: 1.1rem;
}

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 span {
  font-weight: 400;
  font-size: 1.7rem;
}
.md-toolbar-tools {
  font-size: 1.7rem;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  height: 100%;
}
.user-avatar {
  border-radius: 99%;
}

table.md-table td.md-cell {
    font-size: 1.1rem;
}

table.md-table th.md-column {
    font-size: 1.1rem;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 65px;
  left: auto;
  position: fixed;
}

.fixed {
  position: fixed !important;
}