md-toolbar.md-whiteframe-z2
  div.md-toolbar-tools
    h2
      i.material-icons date_range
      | &nbsp; กำหนดตารางปฏิบัติงาน

md-progress-linear(md-mode="indeterminate", ng-show="showLoading")
md-button.md-fab.md-fab-bottom-right(hide-gt-xs, aria-label="Save", ng-disabled="!selectedService.length", ng-click="saveService()")
  md-icon.material.icons save
md-card
  md-card-content

    div(layout="row", layout-fill)
      div(flex)
        md-input-container
          label เดือนปฏิบัติงาน
          md-select(ng-model="serviceDateCode", ng-change="clearSelectedService()")
            md-option
              em เลือกเดือนที่ปฏิบัติงาน
            md-option(ng-repeat="s in servicesDate", ng-value="s.shortMonth")
              {{s.name}}
        //- md-input-container
        //-   label ปี
        //-   md-select(ng-model="yearCode", ng-change="clearSelectedService()")
        //-     md-option
        //-       em เลือกปี
        //-     md-option(ng-repeat="year in years", ng-value="year.year")
        //-       | {{year.name}}
        md-button(class="md-raised md-primary", ng-click="showServiceDate()" ng-disabled="!serviceDateCode") แสดง
        md-button(class="md-raised md-warn", hide-xs, ng-click="saveService()", ng-disabled="!selectedService.length") บันทึก
        md-button(class="md-raised md-primary", ng-disabled="!selectedService.length", ng-click="print()") พิมพ์
    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column) วันที่
            th(md-column) 
              | เวรเช้า
              //- br
              //- md-checkbox(ng-disabled="true")
            th(md-column) 
              | เวรบ่าย
              //- br
              //- md-checkbox(ng-disabled="true")
            th(md-column) 
              | เวรดึก
              //- br
              //- md-checkbox(ng-disabled="true")
        tbody(md-body)
          tr(md-row, ng-if="!serviceDates.length")
            td(md-cell, colspan="5") ไม่พบรายการ

          tr(md-row, ng-repeat="d in serviceDates", ng-if="serviceDates.length")
            td(md-cell) {{ d.thdate }}
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '1')", ng-checked="isChecked(d.date, '1')", ng-disabled="d.is_process == 'Y'") เช้า
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '2')", ng-checked="isChecked(d.date, '2')", ng-disabled="d.is_process == 'Y'") บ่าย
            td(md-cell)
              md-checkbox(ng-click="toggle(d.date, '3')", ng-checked="isChecked(d.date, '3')", ng-disabled="d.is_process == 'Y'") ดึก