md-toolbar.md-hue-2.md-whiteframe-z2
  div.md-toolbar-tools
    md-button.md-icon-button(aria-label="Settings", href="#/")
      i.material-icons keyboard_backspace
    | &nbsp; ข้อมูลประจำตัว

md-card
  md-card-content

    div(layout-pading)

      div(layout="row")
        div(flex)
          md-input-container.md-block
            label ชื่อผู้ใช้งาน
            input(ng-model="info.username", ng-disabled="true")

      div(layout="row")
        div(flex)
          md-input-container.md-block(flex-gt-sm)
            label ชื่อ-สกุล
            input(ng-model="info.fullname", ng-disabled="true")
        div(flex)
          md-input-container.md-block
            label ตำแหน่ง
            input(ng-model="info.position", ng-disabled="true")
      div(layout="row")
        div(flex)
          md-input-container.md-block
            label หน่วยงานหลัก
            input(ng-model="info.department", ng-disabled="true")

  md-card-actions(layout="row", layout-align="end center")
    md-button(ng-click="changePassword($event)").md-warn.md-raised เปลี่ยนรหัสผ่าน