md-toolbar.md-whiteframe-z2
  div.md-toolbar-tools
    i.material-icons local_library
    h2
      | &nbsp; ขออนุญาตไปราชการ

md-progress-linear(md-mode="indeterminate", ng-show="showLoading")
//- md-button.md-fab.md-fab-bottom-right(aria-label="Add", ng-click="addNew($event)")
//-   md-icon.material.icons add

div(layout-padding)
  md-content
    div(layout="row")
      div(flex="20")
        br
        md-datepicker(ng-model="startDate", md-placeholder="dd/mm/yyyy")
      div(flex="25")
        br
        md-datepicker(ng-model="endDate", md-placeholder="dd/mm/yyyy")
      div(flex="15")
        br
        br
        md-checkbox(ng-model="approved", aria-label="Approved")
          | อนุมัติแล้ว
      div(flex="10")
        br
        md-button.md-raised.md-primary(ng-click="initialData()") แสดง
    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column, md-numeric) #
            th(md-column) วันที่
            th(md-column) ชื่อ-สกุล
            th(md-column) ขออนุญาตไปที่
            //- th(md-column) เพื่อ
            th(md-column) อนุมัติ
            th(md-column)
        tbody(md-body)
          tr(md-row, ng-if="!asks.length")
            td(md-cell, colspan="6") ไม่พบรายการ
          tr(md-row, ng-repeat="ask in asks", ng-if="asks.length")
            td(md-cell) {{ $index + 1 }}
            td(md-cell) {{ ask.startDate }}
            td(md-cell) {{ ask.titleName }} {{ ask.firstName }} {{ ask.lastName }}
            td(md-cell) {{ ask.targetName }}
            //- td(md-cell) {{ ask.cause }}
            td(md-cell) 
              md-icon.material-icons(ng-if="ask.approveStatus == 'N'") clear
              md-icon.material-icons(ng-if="ask.approveStatus == 'Y'") done
            td(md-cell)

              md-menu
                md-button(aria-label="More", ng-click="openMenu($mdOpenMenu, $event)").md-icon-button
                  md-icon.material-icons dialpad

                md-menu-content(width="4")
                  md-menu-item
                    md-button(ng-click="employeesList($event, ask.id)")
                      md-icon.material-icons group
                      | &nbsp; ผู้ร่วมเดินทาง
                  md-menu-item
                    md-button(ng-click="approve($event, ask)")
                      md-icon.material-icons spellcheck
                      | &nbsp; อนุมัติ/ยกเลิกอนุมัติ
                  md-divider
                  md-menu-item
                    md-button(ng-click="remove($event, ask)", ng-disabled="ask.approveStatus == 'Y'")
                      md-icon.material-icons clear
                      | &nbsp; ลบรายการ

      md-table-pagination(md-limit="query.limit", md-page="query.page", md-total="{{ total }}",
        md-on-paginate="onPaginate",
        md-options="[5, 20, 30, 50]",
        md-label="{page: 'หน้า', rowsPerPage: 'เรคอร์ดต่อหน้า', of: 'จาก'}"
        md-page-select="")
