md-toolbar.md-whiteframe-z2
  div.md-toolbar-tools
    i.material-icons print
    h2
      | &nbsp; รายงาน

md-progress-linear(md-mode="indeterminate", ng-show="showLoading")
md-card
  //- md-card-title รายการงบประมาณที่ใช้
  md-card-content
    //- span.md-headline รายการงบประมาณที่ใช้


    //- md-button.md-fab.md-fab-bottom-right(aria-label="Add", ng-click="addNew($event)")
    //-   md-icon.material.icons print

    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column) ชื่อรายงาน
            th(md-column)
        tbody(md-body)
          tr(md-row)
            td(md-cell) รายงานการเข้าร่วมอบรม/สัมนา/ประชุม แยกรายแผนก
            td(md-cell)
              md-button.md-icon-button(aria-label="Print", ui-sref="reports-department")
                md-icon.material-icons search
          tr(md-row)
            td(md-cell) รายงานการเข้าร่วมอบรม/สัมนา/ประชุม แยกรายหัวข้ออบรม/สัมนา/ประชุม
            td(md-cell)
              md-button.md-icon-button(aria-label="Print", ui-sref="reports-meeting")
                md-icon.material-icons search
          tr(md-row)
            td(md-cell) รายงานการเข้าร่วมอบรม/สัมนา/ประชุม แยกรายเจ้าหน้าที่
            td(md-cell)
              md-button.md-icon-button(aria-label="Remove", ui-sref="employee")
                md-icon.material-icons search
