md-toolbar.md-whiteframe-z2
  div.md-toolbar-tools
    md-button.md-icon-button(aria-label="Back", ui-sref="reports")
      md-icon.material-icons keyboard_backspace
    h2
      | &nbsp; รายงานเจ้าหน้าที่ไม่ได้เข้าร่วมอบรม/ประชุม แยกตามแผนก

md-progress-linear(md-mode="indeterminate", ng-show="showLoading")
md-card
  md-card-content
    div(layout="row", layout-fill)
      div(flex)
        md-input-container.md-block
          label หน่วยงาน
          md-select(ng-model="departmentId", ng-change="clearData()")
            md-option(ng-repeat="d in departments" value="{{d.id}}")
              | {{d.name}}
      div(flex="20")
        br
        md-datepicker(ng-model="startDate", md-placeholder="dd/mm/yyyy")
      div(flex="20")
        br
        md-datepicker(ng-model="endDate", md-placeholder="dd/mm/yyyy")

      div(flex="25")
        br
        md-button.md-raised.md-primary(ng-click="getList()") แสดง
        md-button.md-raised.md-warn(ng-click="printData()", ng-disabled="!employees.length") พิมพ์
    div(layout="row", layout-fill)
      div(flex)
        md-input-container.md-block
          label ตำแหน่ง
          md-select(ng-model="selectedPositions", multiple)
            md-option(ng-value="position.id" ng-repeat="position in positions") {{position.name}}
    md-table-container
      table(md-table)
        thead(md-head)
          tr(md-row)
            th(md-column, md-numeric) #
            th(md-column) รหัสพนักงาน
            th(md-column, style="width: 25%") ชื่อ-สกุล
            th(md-column) ตำแหน่ง
            th(md-column) หน่วยงานย่อย
            //- th(md-column)
        tbody(md-body)
          tr(md-row, ng-if="!employees.length")
            td(md-cell, colspan="5") ไม่พบรายการ

          tr(md-row, ng-repeat="e in employees", ng-if="employees.length")
            td(md-cell, style="width: 10%;") {{ $index + 1 }}
            td(md-cell, style="width: 10%;") {{ e.employee_code }}
            td(md-cell) {{ e.title_name }}{{ e.first_name }}  {{ e.last_name }}
            td(md-cell, style="width: 30%;") {{ e.position_name }}
            td(md-cell, style="width: 30%;") {{ e.sub_department_name }}
